@font-face {
    font-family: "LifeCraft";
    src: url("../fonts/LifeCraft_Font.ttf");
}

body {
    margin: 0;
    background-color: #D8D8D8;
}

h1 {
    font-family: "LifeCraft", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 100px;
    text-align: center;
    padding-top: 150px;
    font-weight: normal;
    user-select: none;
}

.start-area {
    height: 950px;
    background: #D8D8D8;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
}

.message {
    visibility: hidden;
}

input[class^="butt"] {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    background-color: #ACACAC;
    border: 1px solid #000000;
    outline: 0;
    cursor: pointer;
    font-size: 28px;
    margin-top: 40px;
}

input[type="text"] {
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 28px;
    color: #222222;
    background: rgba(187, 187, 187, 0.4);
    user-select: none;
}

.game-area {
    display: none;
    margin: auto;
    width: 1600px;
}


.canvas-wrapper {
    background-image: url('../testimages/BACKGROUND3.jpg');
    background-size: cover;
    margin: auto;
    width: 1600px;
    height: 800px;
    position: relative;
}

.task {
    width: 1600px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    position: absolute;
    z-index: 3;
    display: none;
}

.mathematic {
    width: 800px;
    height: 500px;
    background-color: #8F8F8F;
    margin: auto;
    margin-top: 100px;
}

.mathematic p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    user-select: none;
}

.mathematic p:first-child {
    padding-top: 50px;
}

.mathematic input.butt-check {
    margin-top: 40px;
}

.mathematic input {
    display: block;
    margin: auto;
}

.game-control {
    height: 150px;
    background-color: #42261b;
    box-sizing: border-box;
    border: 5px solid #1a1d22;
}

.game-control input {
    width: 200px;
    height: 40px;
    background-color: #707980;
    border: 1px solid #000000;
    outline: 0;
    cursor: pointer;
    font-size: 28px;
    margin: 45px 0 0 30px;
    opacity: 1;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
}

#myCanvasHero {
    z-index: 1;
}

#myCanvasEnemy {
    z-index: 0;
}

div.victory-area {
    background-color: #D8D8D8;
    height: 950px;
   
    font-size: 18px;
    user-select: none;
}

div.victory-area h2 {
 text-align: center;
 padding-top: 30px;
 font-size: 40px;
}

.result-table table {
    margin: 70px auto;
}

.result-table td {
    height: 40px;
    width: 300px;
    border: 1px solid black;
}

.result-table td:first-child {
    width: 80px;
    text-align: center;
}

.result-table th:first-child {
    width: 80px;
    text-align: center;
}

.result-table th {
    height: 40px;
    width: 200px;
    border: 1px solid black;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.4);
}

caption {
    font-size: 24px;
    margin-bottom: 20px;
}

